.btn-group-icon{
    background-color: #eee;
  border-radius: 12px;
    
    border-radius: 5px;
    border: 1px solid #ddd;
    display: inline-block;
    button {
      display: inline-block;
     padding: 3px 8px;
      width: 32px;
      border: none;
      background-color: white;
      
      
      &:hover {
        background-color:#ddd;
      }
    }
    button:not(:last-child){
      border-right: 1px solid #ddd;
    }
    
    button:first-child {
      border-radius: 4px 0 0 4px;
    
    
    }
    
    button:last-child {
      border-radius: 0 4px 4px 0;
     
    }
  }
.btn-group-icon-active{
  background-color: #ddd!important;
}